input[type="text"], input[type="email"], input[type="tel"]{
    float: right;
}

.form_holder {
    width: 35%;
    margin: auto;
}

.break {
    height: 25px;
}

.required {
    color: red;
}

input[type="submit"] {
    border: none;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    background-color: cyan;
}

input[type="submit"]:hover {
    background-color: rgba(0, 255, 255, 0.358);
}