body {
    font-family: sans-serif;
}

h1 {
    font-weight: normal;
    text-align: center;
    color: rgb(0, 89, 89);
}

h4 {
    font-weight: normal;
    text-align: left;
    color: rgb(0, 89, 89);
}

.form_holder {
    width: 40%;
    margin: auto;
    background-color: lightgray;
    padding: 20px 50px 50px 50px;
    border-radius: 10px;
}

.break {
    height: 25px;
}

.required {
    color: red;
}

#citizen_form {
    float: right;
}

.radio_group {
    float: right;
}

input[type="text"], input[type="email"], input[type="tel"]{
    float: right;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(0, 89, 89);
    padding: 5px;
}

input[type="text"]:focus, input[type="email"]:active, input[type="tel"]:active {
    border: 3px solid rgb(0, 89, 89);
}

select {
    float: right;
    width: 312px;
    height: 27px;
    border-radius: 10px;
    border: 1px solid rgb(0, 89, 89);
    padding: 5px;
}

select:active {
    float: right;
    width: 312px;
    height: 27px;
    border-radius: 10px;
    border: 3px solid rgb(0, 89, 89);
    padding: 5px;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"]:before {
    border: 1px solid rgb(0, 89, 89);
}

input[type="checkbox"]:checked:after {
    background-color: rgb(0, 89, 89);
}

input[type="submit"] {
    border: none;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 89, 89);
    color: white;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgba(0, 89, 89, 0.662);
    cursor: pointer;
}