body{
  min-height: 100vh;
  background: lightgray;
  font-family: sans-serif;
}

a {
    color: rgb(83, 139, 195);
}

a:hover {
    color: rgb(116, 159, 202);
}

#loginbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: #333333a9;
}

#loginbox h1, #loginbox p {
    margin-top: 0;
    user-select: none;
}

#loginbox h1 {
    width: 100%;
    text-align: center;
}

#user {
    margin-right: 30px;
    font-size: 1.07rem;
    padding: 0;
    user-select: none;
}

#loginForm {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.393);
    height: 25vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#registerForm, #newAppointmentForm {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.393);
    height: 40vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;  
}

#logout-confirm, .lightbox-background {
  position: absolute;
  background-color: #333333a9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  z-index: 6;
  display: none;
  align-items: center;
  justify-content: center;
}

.logout-text {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.393);
  max-height: 25vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}

.box-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#closeLogin {
    justify-self: end;
    cursor: pointer;
}

#closeRegister {
    justify-self: end;
    cursor: pointer;
}

#eventBtn {
  margin-top: 30px;
}

#closeLogout {
  justify-self: end;
  cursor: pointer;
}

input[type="text"], input[type="password"], input[type="date"], input[type="time"] {
    font-size: larger !important;
    border-radius: 10px;
    background-color: rgb(223, 223, 223) !important;
    width: 15vw;
    padding: 5px 20px;
    border: none;
}

input:-webkit-autofill {
    background-color: rgb(223, 223, 223) !important;
    appearance: none !important;
    color: black !important;
    background-image: none !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    outline: none;
    border: 3px solid rgb(83, 139, 195);
}

.wrapper{
  margin: auto;
  width: 70vw;
  min-height: 80vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: center;
  gap: 30px;
}

header .icons{
  display: flex;
}

#loginbox span {
    height: 50px;
    width: 50px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.lightbox-background span {
  height: 50px;
  width: 50px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

#loginbox span:hover, .lightbox-background span:hover {
    color: #878787;
}

header .icons span{
  height: 50px;
  width: 50px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 50px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

header .icons span:hover{
  background: #f2f2f2;
  cursor: pointer;
}

header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
  user-select: none;
}

.calendar{
  padding: 20px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.calendar li{
  color: #333;
  width: calc(100% / 7.1);
  font-size: 1.07rem;
  border: 1px solid rgba(0, 0, 0, 0.411);
  text-align: center;
}

.calendar .weeks li{
    user-select: none;
  font-weight: 500;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: default;
  height: 12vh;
  padding-top: 5px;
}

.calendar p {
    margin: auto;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    user-select: none;
}

.calendar p:hover {
    background-color: #dadada;
    cursor: pointer;
}

.inactive{
  color: #aaa !important;
}

.calendar p.active{
  color: #fff;
  background-color: rgb(83, 139, 195);
}

.button, button {
    margin: 0px 20px;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(83, 139, 195);
    color: white;
    border: none;
    font-size: 1.07rem;
}

.button:hover, button:hover {
    cursor: pointer;
    background-color: rgb(116, 159, 202);
}

#btnbox {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    margin: auto;
    padding: 30px 0px;
}

.events-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.holiday{
  background-color: green;
  padding: 3px 0px;
  width: 95%;
  margin: 2px 10px;
  border-radius: 10px;
  color: white;
  font-size: .89rem;
  user-select: none;
}

.holiday:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.711);
}

.appointment {
  background-color: rgb(73, 73, 255);
  padding: 3px 0px;
  width: 95%;
  margin: 2px 10px;
  border-radius: 10px;
  color: white;
  font-size: .89rem;
  user-select: none;
}

.appointment:hover {
  cursor: pointer;
  background-color: rgba(73, 73, 255, 0.711);
}